# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

+ Popular Languages for Data Scientists
+ Commonly Used Libraries by Data Scientists
+ Data Science Tools

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java

Some of the commonly used libraries used by Data Scientists include:
1. Matplotlib
2. Scipy
3. Numpy
4. Pandas

In [3]:
%%html 
<style>table {float:left}</style>

| Data Science Tools |
|:------------------ |
|Jupyter|
|Apache Zeppelin|
|R Studio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [9]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
print("minutes =" , 200/60)

minutes = 3.3333333333333335

## Author
Sheeba